<%- include('../layout/header'); %>
<%- include('../layout/sidebar'); %>

<!-- main section starts -->

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin-profile">My Profile</a></li>
          <li class="breadcrumb-item active">Here is my dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <img src="https://duecode.io/blog/content/images/2020/12/Company-Cover-Image-Copy-15.jpg" width="1000px" height="430px" alt="Defalut">
    </section>

  </main>
  
  <!-- End #main -->
<!-- main section ends -->

<%- include('../layout/footer'); %>