<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav1"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Master</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav1"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/country">
            <i class="bi bi-circle"></i><span>Country</span>
          </a>
        </li>
        <li>
          <a href="/state">
            <i class="bi bi-circle"></i><span>State</span>
          </a>
        </li>
        <li>
          <a href="/city">
            <i class="bi bi-circle"></i><span>City</span>
          </a>
        </li>
        <li>
          <a href="/offer-and-discount">
            <i class="bi bi-circle"></i><span>Offer & Discount</span>
          </a>
        </li>
        <li>
          <a href="/home-other-section">
            <i class="bi bi-circle"></i><span>Home Other Sections</span>
          </a>
        </li>
       
        
        
       
        
        
        <li>
          <a href="/testimonials">
            <i class="bi bi-circle"></i><span>Testimonial</span>
          </a>
        </li>
        <li>
          <a href="/our-team">
            <i class="bi bi-circle"></i><span>Our Team</span>
          </a>
        </li>
        
        
      </ul>
    </li>
    <!-- End Components Nav -->

    <!-- About us -->
    
    <!-- About Us Nav -->
    
  

    <li class="nav-heading">Pages</li>

   
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin-profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li> -->
    <!-- End F.A.Q Page Nav -->

    <!-- End Contact Page Nav -->

    <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.html">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li> -->
    <!-- End Login Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
